.LoginContentBox {
    max-width: 300px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ErrorMessage {
    color: red;
    margin-top: 5px;
}

.SubmitButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.SubmitButton:hover {
    background-color: #0056b3;
}